<body class="page-wrapper">

	<div class="text-wrapper">
		<div class="title-wrapper">
			<h1>Who are we?</h1>
		</div>

		<p> In the fall of 2015, Triangles opened its business following a mission: to create a lovely webpage, encorporating all of their skills and knowledge, and to share their love of pizza (duh) by providing it to others. </p>

		<p> The idea comes from a cold, rainy day when Ren and Mai were given the task to start a business overnight. Coming up with a business on the spot is never an easy task, but it was evident that their love for pizza and bringing happiness to the community would be the base of the business. From there, it was simply a matter of getting the right supplies and putting heads together to make it work. </p>

		<p> Bringing you all sorts of shapes, styles, and flavors, this business hopes to satisfy your needs. </p>
	</div>

</body>