<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="navbar">
		<ul class="navbarul">
			<li class="navbarli">moet in hoogte veranderen</li>
			<li class="navbarli">moet in hoogte veranderen</li>
			<li class="navbarli">moet in hoogte veranderen</li>
			<li class="navbarli">moet in hoogte veranderen</li>
		</ul>
	</div>

</body>
</html>