<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" href="/images/favicon.ico">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> 
	</script>
	<script type="text/javascript" src="/javascript/stuff.js">
	</script>
	<title>
		<%= @title %>
	</title>
</head>
<body>
	<!-- <div class="navbar">
		<ul class="navbarul">
			<li class="navbarli">moet in hoogte veranderen</li>
			<li class="navbarli">moet in hoogte veranderen</li>
			<li class="navbarli">moet in hoogte veranderen</li>
			<li class="navbarli">moet in hoogte veranderen</li>
		</ul>
	</div> -->

		<nav>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/order">Order</a></li>
				<li><a href="/aboutus">About us</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>

	<%= yield %>

</body>
</html>