.navbar{
	border: 2px solid black;
	width: auto;
	height: 125px;
}

.navbarul{
	text-align: 	center;
	border: 2px solid black;
	width: auto;
	height: 50px;
	margin-top: 70px;
	 -webkit-transition: height 4s;
    transition: height 4s;
}


.navbarul{
 transition-timing-function: linear;
}

.navbarul:hover{
	height	: 150px
}

.navbarli{	
	margin-top: 	10px;
	display: 	inline-table;	
	/*position: center;*/
	border: 2px solid black;
	width: 250px;
	height: 75px;
	 /*-webkit-transition: height 4s;
    transition: height 4s;*/
}

.navbarli{
	-webkit-transition: height 2s;
    transition: width 2s;
	-webkit-transition: height 2.5s;
	transition: height 2.5s;
	transition-timing-function: linear
}

.navbarli:hover{
	height: 200px;
}
