.navbar{
	border: 2px solid black;
	width: auto;
	height: 125px;
}

.navbarul{
	text-align: 	center;
	border: 2px solid black;
	width: auto;
	height: 50px;
	margin-top: 70px;
	 -webkit-transition: height 4s;
    transition: height 4s;
}


.navbarul{
 transition-timing-function: linear;
}

.navbarul:hover{
	height	: 150px
}


h1{
	float: left;
	clear: left;
}

.image-wrapper:nth-child(2){
	clear: left;
}

input{
	margin: 0px;
	padding: 0px;
}

div.image-wrapper{
	float: left;
	width: 200px;
	height: 200px;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	vertical-align: middle;
	display: table;
	text-align: center;
}

.second-wrapper{
	display: table-cell;
	vertical-align: middle;
}

.table-row {
	display: table-row;
}

img{
	width: 90%;
	vertical-align: middle;
}

.navbarli{	
	margin-top: 	10px;
	display: 	inline-table;	
	border: 2px solid black;
	width: 250px;
	height: 75px;
}

.navbarli{
	-webkit-transition: height 2s;
    transition: width 2s;
	-webkit-transition: height 2.5s;
	transition: height 2.5s;
	transition-timing-function: linear
}


#lightbox-outer{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	text-align: center;
}

.navbarli:hover{
	height: 200px;
}
